.MyOrderPage_main__Rrmsc {

  :where(.css-dev-only-do-not-override-49qm).ant-col-18 {
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  :where(.css-dev-only-do-not-override-49qm).ant-card-bordered {
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  :where(.css-dev-only-do-not-override-49qm).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: orange;
  }

  :where(.css-dev-only-do-not-override-49qm).ant-tabs-top >.ant-tabs-nav .ant-tabs-ink-bar, :where(.css-dev-only-do-not-override-49qm).ant-tabs-top >div>.ant-tabs-nav .ant-tabs-ink-bar {
    background-color:  orange;
  }

  :where(.css-dev-only-do-not-override-49qm).ant-tabs .ant-tabs-tab:hover {
    color: orange;
  }
}

.MyOrderPage_card__5Ni41  {
  margin: 20px 0;
  
  .ant-card-body {
    padding: 10px;
  }

  :where(.css-dev-only-do-not-override-49qm).ant-card {
    margin: 10px 0 !important;
  }
}

.MyOrderPage_total__EhPp1 {
  :where(.css-dev-only-do-not-override-49qm).ant-col-21 {
    max-width: 100%;
    flex: 1;
  }

  :where(.css-dev-only-do-not-override-49qm).ant-col-3 {
    max-width: 100%;
    flex: 1;
  }
}