.NavbarComponent_choice__wI4q\+ {
    :where(.css-dev-only-do-not-override-49qm).ant-checkbox-group {
        display: flex;
        flex-direction: column;
    }
    :where(.css-dev-only-do-not-override-49qm).ant-checkbox-checked .ant-checkbox-inner {
        background: #E87428;
        color: #E87428;
        border: 1px solid #E87428;
    }

    :where(.css-dev-only-do-not-override-49qm).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner, :where(.css-dev-only-do-not-override-49qm).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
        border-color: #E87428;
    }

    :where(.css-dev-only-do-not-override-49qm).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
        background-color: #E87428;
    }
}