.ChangeEmail_form__EgdcD {
    :where(.css-dev-only-do-not-override-49qm).ant-form-item .ant-form-item-label {
        text-align: start;
    }

    :where(.css-dev-only-do-not-override-49qm).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover, :where(.css-dev-only-do-not-override-49qm).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
        color: #fff;
        background-color: red;
        border: 1px solid red;
        opacity: 0.8;
    }

    :where(.css-dev-only-do-not-override-49qm).ant-btn-color-default {
        box-shadow: unset;
    }

    :where(.css-dev-only-do-not-override-49qm).ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
        opacity: 0.9;
    }

    :where(.css-dev-only-do-not-override-49qm).ant-input-outlined:hover, :where(.css-dev-only-do-not-override-49qm).ant-input-outlined:focus, :where(.css-dev-only-do-not-override-49qm).ant-input-outlined:focus-within {
        border: 1px solid #E87428;
        box-shadow: unset;
    }

    :where(.css-dev-only-do-not-override-49qm).ant-col-offset-6 {
        margin: 0;
    }
}