.voucherDetail {
  margin: 0 5px;
}

.content {
  padding: 10px;
  font-size: 1rem;
}

.shipping {
  color: #26ab9a;
  border: 1px solid #26ab9a;
}

.product {
  color: #E87428;
  border: 1px solid #E87428;
}