.main { 
    background-color: rgba(250, 134, 56, 0.2);
    padding: 50px 0;
    background-image: url('../../assets/images/dogs.svg');
    background-repeat: no-repeat;
    background-size: contain;
    // background-position: top 100px left;
    background-position: bottom;
}

.arrow1 {
    position: absolute;
    top: 30px;
    left: 330px;
}

.arrow2 {
    position: absolute;
    top: 30px;
    left: 660px;
}

.step {
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
}

.forms {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .choice {
        display: flex;
        align-items: center;
        position: relative;

        .backButton {
            display: inline-block;
            margin: 0 20px;
            position: absolute;
        }

        .title {
            flex: 1;
        }
    }


    .suggest {
        font-size: 2rem;
        text-align: center;
    }

}

.notice {
    margin-top: 30px;
    margin-left: 30px;
    width: 350px;

    p {
        margin-bottom: 10px;
        font-size: 1.5rem;
        color: #787878;
        line-height: 1.5;
    }
}


@media screen and (max-width: 46.1875em) {
    .main { 
        background-color: #fff;
        background-image: none;
        padding: 0 0 40px 0;
        margin: 0 4px;
    }

    .step {
        display: none;
    }
    
    .forms {
        justify-content: center;
        align-items: center;

        .form {
            width: 100% !important;
            height: 100% !important;
            border: none !important;
        }
    }

    .choice {
        flex-direction: column;

        .backButton {
            top: 0;
            left: 0;
        }
    }

    .suggest {
        span {
            font-size: 1.3rem;
        }
    }

    .input {

        span:first-of-type {
            top: 56% !important;
            left: 18% !important;
        }

        &:has(> span:first-of-type + span:last-of-type) > span:last-of-type {
            top: 58% !important;
            left: 78% !important;
        }
    }

    .notice {
        width: 65%;
        margin: 15px 0 0 0;
    }

    .btn {
        width: 70% !important;
        font-size: 1.8rem !important;
        border-radius: 10px !important;
    }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .step {
        display: none;
    }

    .form {
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
}

@media screen and (min-width: 64em) and (max-width: 77.4375em) {
    .stt {
        margin-right: 140px !important;
    }

    .arrow1 {
        left: 230px !important;
    }

    .arrow2 {
        left: 545px !important;
    }

}