.main { 
  background-color: rgba(250, 134, 56, 0.2);
  padding: 50px 0;
  background-image: url('../../assets/images/dogs.svg');
  background-repeat: no-repeat;
  background-size: contain;
  // background-position: top 100px left;
  background-position: bottom;
}

.step {
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;
  margin-left: 100px;
}

.arrow1 {
  position: absolute;
  top: 30px;
  left: 280px;
}

.arrow2 {
  position: absolute;
  top: 30px;
  left: 580px;
}

.forms {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .choice {
      display: flex;
      align-items: center;
      position: relative;

      .backButton {
          display: inline-block;
          margin: 0 20px;
          position: absolute;
      }

      .title {
          flex: 1;
      }
  }


  .suggest {
      font-size: 2rem;
      text-align: center;
      padding: 0 50px;
  }

  .error {
    display: flex;
    justify-content: center;
    span {
      font-size: 1.5rem;
      color: #E87428;
      text-align: center;
      margin-top: 14px;
    }
  }
}

@media screen and (max-width: 46.1875em) {
  .main { 
      background-color: #fff;
      background-image: none;
      padding: 0 0 40px 0;
      margin: 0 4px;
  }

  .step {
      display: none;
  }

  .backButton {

      img {
          width: 40px;
      }
  }

  .forms {
      display: block;
      
      .form {
          width: 100% !important;
          height: 100% !important;
          border: none !important;
      }
  }

  .choice {
      flex-direction: column;

      .backButton {
          top: 0;
          left: 0;
      }
  }

  .suggest {
      span {
          font-size: 1.3rem;
      }
  }

  .input {

    span:first-of-type {
        top: 56% !important;
        left: 18% !important;
    }

    &:has(> span:first-of-type + span:last-of-type) > span:last-of-type {
        top: 58% !important;
        left: 78% !important;
    }
}

  .btn {
      width: 70% !important;
      font-size: 1.8rem !important;
      border-radius: 10px !important;
  }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .step {
      display: none;
  }

  .form {
      justify-content: center;
      align-items: center;
      margin-top: 0;
  }
}

@media screen and (min-width: 64em) and (max-width: 77.4375em) {
  .step {
    margin: 0;
  }

  .stt {
      margin-right: 140px !important;
  }

  .arrow1 {
      left: 230px !important;
  }

  .arrow2 {
      left: 525px !important;
  }

}