.UserProfileComponent_profile__FcqYr {

    .ant-card-body {
        padding: 20px 0;
    }

    :where(.css-dev-only-do-not-override-49qm).ant-menu-light .ant-menu-item,
    :where(.css-dev-only-do-not-override-49qm).ant-menu-light>.ant-menu .ant-menu-item,
    :where(.css-dev-only-do-not-override-49qm).ant-menu-light .ant-menu-submenu-title,
    :where(.css-dev-only-do-not-override-49qm).ant-menu-light>.ant-menu .ant-menu-submenu-title {
        padding: 0;
    }

    .ant-tabs-ink-bar {
        background-color: #E87428;
    }

    :where(.css-dev-only-do-not-override-49qm).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
    :where(.css-dev-only-do-not-override-49qm).ant-tabs .ant-tabs-tab:hover {
        color: #E87428;
    }

    :where(.css-dev-only-do-not-override-49qm).ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title, :where(.css-dev-only-do-not-override-49qm).ant-menu-light>.ant-menu .ant-menu-submenu-selected >.ant-menu-submenu-title {
        color: orange;
    }
}