.sort {
    background-color: #F3EFEF;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;

    span {
        font-size: 2rem;
        display: inline-block;
        margin-right: 20px;
        // flex: 1;
    }

    .allBtn {
        display: flex;
    }

    .btn {
        border-radius: 8px !important;
        margin: 0 10px;
    }

    .price {
        background-color: #fff;
        border-radius: 8px;
        width: 250px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        position: relative;
        margin-left: 5px;

        &:hover ul {
            display: block;
        }
        
        span {
            font-size: 2rem;
            color: #555;
        }

        .icon {
            font-size: 2rem;
            color: #555;
        }

        ul {
            list-style-type: none;
            position: absolute;
            z-index: 2;
            top: 100%;
            left: 0;
            padding: 0;
            display: none;

            li {
                background-color: #fff;
                border-radius: 8px;
                width: 250px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                a {
                    text-decoration: none;
                    color: #000;
                    font-size: 2rem;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 20px;

                    &:hover {
                        color: #E87428;
                    }
                }
            }
        }
    }

}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); // Overlay mờ
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; // Đảm bảo nằm trên các thành phần khác
}

.navbarContainer {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%; // Tùy chỉnh kích thước
  max-width: 400px; // Giới hạn chiều rộng
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.filter {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 10px;

    .icon {
        color: #E87428;
        font-size: 2rem;
    }

    span {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
    }
}

.newNav {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 10px 0 20px 0;
    flex: 1;

    li {
        font-size: 1.5rem;
        text-align: center;
        cursor: pointer;

        .icon {
            margin-left: 5px;
        }
    }
}

.active {
    color: #E87428;
    font-weight: bold;
}



@media screen and (max-width: 46.1875em) {
    .sort {
        display: block;
        padding: 0;
        justify-content: space-between;
        background-color: #fff;

        .btn {
            margin: 0;
            // width: 80px !important;
        }
    }

    .filter {
        margin-left: 25px;
    }
}


@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .sort {
        justify-content: flex-start;

        .btn {
            margin: 5px;
        }
    
        .price {
            width: 170px;

            ul {
    
                li {
                    width: 170px;
    
                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 64em) and (max-width: 77.4375em) {
    .sort {

        .btn {
            margin: 5px;
        }
    
        .price {
            width: 180px;
            ul {
    
                li {
                    width: 180px;
    
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}