.main {
  background-color: #FAFAF8;
  padding: 50px 0 100px;

  h2 {
    font-size: 4rem;
    font-weight: 900;
  }

}

.allBtn {
  display: flex;
  align-items: center;
  // justify-content: flex-start;
  flex-wrap: wrap;
}

.checkAll {
  display: flex;
  align-items: center;

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 40px;
    margin-bottom: 8px;

    width: 30px;
    height: 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    position: relative;

    &:checked {
      background-color: #E87428;
    }

    &:not(:checked) {
      background-color: #f1f1f1;
      border: 1px solid #ccc;
    }

    &:checked::after {
      content: '✔';
      color: #fff;
      font-size: 2rem;
      position: absolute;
      top: 4px;
      left: 8px;
    }

  }

  h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 20px;
  }
}

.addToCarts {
  .btnAdd {
    width: 100%;
    flex: 1;
    border-radius: 0 !important;
    background-color: rgba(255, 125, 41, 0.1) !important;
    border: 1px solid #E87428 !important;
    color: #000 !important;

    &:focus {
      opacity: 0.8;
    }

    &:hover {
      opacity: 0.8;
    }

    img {
      margin-right: 10px;
      width: 30px;
    }
  }
}

.removeAllButton {
  background-color: #ff4d4f;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 0 10px 10px;

  &:hover {
    background-color: #d9363e;
  }
}

.cart {
  display: flex;
  // overflow: hidden;
  flex: 1;
}

.cartItems {
  width: 100%;
}

@media screen and (max-width: 46.1875em) {
  .main {
    margin: 0 4px;

    h2 {
      font-size: 2.5rem;
    }
  }

  .checkAll {
    input {
      margin-left: 11px;
      width: 20px;
      height: 20px;

      &:checked::after {
        font-size: 1rem;
        left: 6px;
      }
    }
  }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .main {
    h2 {
      font-size: 3rem;
    }
  }

  .checkAll {
    input {
      margin-left: 21px;
      width: 20px;
      height: 20px;

      &:checked::after {
        font-size: 1rem;
        left: 6px;
      }
    }
  }
}


@media screen and (min-width: 64em) and (max-width: 77.4375em) {
  .checkAll {
    input {
      margin-left: 21px;
    }
  }
}