.main {
  
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 20px 0 0 10px;

  ol {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    li {
      &:not(:last-child)::after {
        content: ">";
        margin: 0 8px;
        color: #aaa;
      }

      a {
        text-decoration: none;
        color: #007bff;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }

      &.active {
        color: #555;
        font-weight: bold;
        pointer-events: none;
      }
    }
  }
}

.about-bg {
  background-color: #FFF9E3;
}